
$background: #5d5d5a;
$backgroundFooter: #4e4e49;
$backgroundButton: #9c9c9a;
$backgroundButtonActive: #575750;
$colorActive: #ffa45c;
$colorButtonActive: #ffcdab;

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    height: 80vh;
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    padding-bottom: 15px;
    .header {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 5%;
        background-color: $backgroundFooter;
        .brand {
            color: $colorActive;
            padding: 5px;
        }
    }
    .container {
        display: flex;
        width: 100vw;
        height: 85%;
    }
    .footer {
        width: 100vw;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            margin: 5px;
            border-radius: 50%;    
            background-color: $backgroundButton;
            color: white;
            border: unset;
            outline: none;
            cursor: pointer;
            transition: background-color .45s ease;
            border: 1px solid $backgroundButton;
            &:hover {
                border-color: white;
                background-color: $backgroundButtonActive;
            }
        }
        .btn-action-primary {
            color: $colorActive
        }
        .btn-action-secondary {
            padding: 7px;
        }
    }
    
}

footer {
    height: 20px;
    background-color: $backgroundFooter;
    display: flex;
    justify-content: center;
}